# Se hospedar sua aplicação em algum lugar
# coloque o host aqui:
# APP_URL=http://localhost:3000
PORTA_SERVIDOR=3000

# Segredo da chave session process.env.SECRET
SECRET=


# Bando local
DATABASE=
HOST=
USER=
PASSWORD=

